{% set paragraph_parent = paragraph.getParentEntity() %}
{% set animation = paragraph_parent.bp_animation.value %}

{% if animation %}
  {%
    set attributes = attributes
    .setAttribute('data-aos', animation)
    .setAttribute('data-aos-delay', (key + 1) * 150)
    .setAttribute('data-aos-easing', 'linear')
  %}
{% endif %}

{% block paragraph %}
  <div{{ attributes }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock paragraph %}
