{%
  set classes = [
    'owl-carousel'
  ]
%}

{% set desktop = paragraph.bp_display_number_desktop.value %}
{% set mobile = paragraph.bp_display_number_mobile.value %}

{% block paragraph %}
  <div{{ attributes.addClass(classes).setAttribute('data-desktop', desktop).setAttribute('data-mobile', mobile) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock paragraph %}

{{ attach_library('acx_bootstrap_page_builder/carousel') }}
