{%
  set classes = [
    paragraph.bp_container_width.value
  ]
%}

{%
  set styles = [
    paragraph.bp_color.color ? "background-color: " ~ paragraph.bp_color.color,
    paragraph.bp_media.target_id ? "background-image: url('" ~ file_url(paragraph.bp_media.entity.field_media_image.entity.uri.value) ~ "')",
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes).setAttribute('style', styles|join('; ')) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock paragraph %}
